@model BLOG_ValueObject.EntityObject.BlogObject

@{
    ViewBag.Title = "BlogAdminCreate";
    Layout = "~/Areas/Admin/Views/Shared/_AdminPageLayout.cshtml";
}

<h2 style="text-transform: uppercase">Create Blog</h2>

@using (Html.BeginForm("BlogAdminCreate", "BlogAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-6">
                <label>Title</label>
                <input name="title" placeholder="Title" required class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <label>Summary</label>
                <input name="summury" placeholder="Summary" required class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <label>Contents</label>
                <textarea name="contents" required>Contents</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <label>Author</label>
                <input name="author" placeholder="Author" required class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a href="@Url.Action("BlogAdminShowListIndex", "BlogAdmin")" class="btn btn-link">Return</a>
            </div>
        </div>
    </div>
}

<script src="~/Areas/Admin/Content/ckeditor/ckeditor.js"></script>
<script src="~/Areas/Admin/Content/ckfinder/ckfinder.js"></script>

<script type="text/javascript">
        var editor = CKEDITOR.instances['contents'];
            if (editor) { editor.destroy(true); }
            CKEDITOR.replace('contents', {
                enterMode: CKEDITOR.ENTER_BR,
            });
            CKFinder.setupCKEditor(null, '@Url.Content("~/Areas/Admin/Content/ckfinder/")');
</script>
